.header-container {
  /* background-color: rgb(255, 214, 250); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px 0;
  align-items: center;
}

.logo {
  font-family: "Indie Flower", cursive;
  color: rgb(235, 188, 221);
}

.login-btn {
  font-size: 1.1rem;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10%;
}

.login-btn:hover {
  background-color: white;
  color: black;
}
